<a [routerLink]="['/']">
    <h1>E-Shoppe</h1>
  </a>
  
  <a routerLink="/cart" class="button fancy-button position-relative">
    <i class="material-icons">shopping_cart</i>Checkout
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      {{cartItemCount}}
      <span class="visually-hidden">checkout items</span>
    </span>
  </a>
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->