<div class="alert alert-primary">
    <h2>Products</h2>
</div>
<div class="container-fluid">
<div class="d-flex justify-content-start">
    <div *ngFor="let product of products">
        <div class="card center" [title]="product.name + ' details'" style="margin-left: 3%;">
                <img src="{{product.image}}"  [routerLink]="['/products', product.id]" alt="{{product.name}}" style="width:40%;margin-left: 25%;">
                <h1>{{product.name}}</h1>
                <p class="price">${{product.price}}</p>
                <p>{{product.description}}.</p>
                <p><input type="number" id="quantity" value="1" name="quantity" min="1" max="{{product.stock}}" #quantity></p>
                <div *ngIf="product && product.stock > 0 ">
                <p><button (click)="addToCart(product, quantity.value)">Add to Cart</button></p>
                </div>
                <app-product-alerts
                [product]="product" 
                (notify)="onNotify()">
                </app-product-alerts>
        </div>
    </div>
</div>
</div>