<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Full Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address1">
      Address Line 1
    </label>
    <input id="address1" type="text" formControlName="address1">
  </div>

  <div>
    <label for="address2">
      Address Line 2
    </label>
    <input id="address2" type="text" formControlName="address2">
  </div>
  <div>
    <label for="phone">
      Phone
    </label>
    <input id="phone" type="text" formControlName="phone">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>